@model IEnumerable<BRTF_Booking.Models.Booking>

@{
    ViewData["Title"] = "Calendar";
}

<style>
    .btn-primary {
        color: #fff;
        background-color: #1dc21d;
        border-color: #1aab1a;
    }

        .btn-primary:hover {
            background-color: #21db21;
            border-color: #1dc41d;
        }

    .btn-primary-special {
        background: #097dea;
        background: linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
        color: #fff !important;
        border-width: 1px;
        border-radius: .25rem;
    }

        .btn-primary-special:hover {
            background: #0a82f5;
            background: linear-gradient(65deg, #027df0 0, #288bfc 100%);
        }
</style>

<h1>Bookings</h1>
<p>
    <a asp-action="Request" class="btn btn-primary-special">Request Booking</a>
</p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">
<div class="card md-sm-3">
    <div class="card-header"></div>
    <div class="card-body">
        <div id='calendar'></div>
    </div>
</div>
<input id="hiddenDate" type="hidden" />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js'></script>
    <script src='/docs/dist/demo-to-codepen.js'></script>


    <script type="text/javascript">
        var termStart = "";
        var termEnd = "";
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                firstDay: 1, //The day that each week begins (Monday=1)
                slotMinutes: 60,
                events: '@Url.RouteUrl(new { action = "GetEvents", controller = "Bookings" })',
                eventOverlap: false,
                selectable: true,
                editable: false,
                dateClick: function (info) {
                    location.href = '@Url.RouteUrl(new { action = "Request", controller = "Bookings"})' + "?date=" + info.dateStr;
                },
                eventDragStop: false@*function (info) {
                    const myJSON = JSON.stringify(info.event);
                    console.log(myJSON);
                    $.ajax({
                        url: '@Url.RouteUrl(new { action = "PostEvents", controller = "Bookings" })',
                        type: "POST",
                        data: { jsonData: myJSON },
                        contentType: "application/json; charset=utf-8"
                    });
                }*@
            });
            $.getJSON("/Bookings/GetSettings", function (data) {
                termStart = data.termStart;
                termEnd = data.termEnd;
            }).success(function (data) {
                calendar.addEventSource(
                    [
                        {
                            start: termStart,
                            end: termEnd,
                            display: 'inverse-background',
                            backgroundColor: 'red'
                        }
                    ]
                );
                calendar.render();
            });
            
        });
    </script>
}
