@model BRTF_Booking.Models.Booking

@{
    ViewData["Title"] = "Create";
}


<h1>Create New Booking</h1>
<hr />
<table>
    <tr>
        <th></th>
        <th id="roomTitle">
        </th>
    </tr>
    <tr>
        <td style="width: 600px">
            <div class="row">
                <div class="col-md-8">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="User" class="control-label"></label>
                            <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Area</label>
                            <select asp-for="Room.AreaID" id="AreaID" name="AreaID" class="form-control" asp-items="ViewBag.AreaID">
                                <option>Select An Area:</option>
                            </select>
                            <select asp-for="RoomID" id="RoomID" name="RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Room" class="control-label"></label>
                            <select asp-for="RoomID" id="RoomID" name="RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="StartDate" class="control-label"></label>
                            <input asp-for="StartDate" id="StartDate" name="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EndDate" class="control-label"></label>
                            <input asp-for="EndDate" id="EndDate" name="EndDate" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <select id="Status" name="Status" class="form-control">
                                <option style="color: #E2C044;" value="Awaiting">Awaiting</option>
                                <option style="color: #D52941;" value="Declined">Declined</option>
                                <option style="color: #44CF6C;" value="Accepted">Accepted</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div id='calendar'></div>
            </div>
        </td>
    </tr>
</table>


<div>
    <a asp-action="Index">Back to List</a>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>

    <script src="~/js/refreshDDL.js"></script>
    <script type="text/javascript">
        var calendarLoaded = false;

        $('#AreaID').change(function () {
            if (!calendarLoaded) {
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title'
                    },
                    defaultView: 'agendaWeek',
                    firstDay: 1,
                    slotMinutes: 60,
                    selectable: true,
                    selectOverlap: true,
                    select: function (startDate, endDate) {
                        $('#StartDate').val(startDate.format());
                        $('#EndDate').val(endDate.format());
                    }
                });
                calendarLoaded = true;
            }
            var selectedArea = $("#AreaID").val();
            var URL = "/Bookings/GetCreateRooms/" + selectedArea;
            refreshDDL('RoomID', URL, true);
            $.getJSON(URL, function (data) {
                var selectedRoom = data[0].value;
                $.getJSON("/Rooms/GetRoomRules?roomID=" + selectedRoom, function (data) {
                    if (data.limit != null) {
                        $('#roomTitle').text("Select an available time block up to " + data.limit + " hours");
                    }
                    else {
                        $('#roomTitle').text("Select an available time block");
                    }
                });

                var URL2 = "/Bookings/GetRoomEvents?roomID=" + selectedRoom;
                $.getJSON(URL2, function (data) {
                    $('#calendar').fullCalendar('removeEvents');
                    $('#calendar').fullCalendar('addEventSource', data);
                });
            });




        });
        $('#RoomID').change(function () {
            var selectedRoom = $('#RoomID').val();
            var URL2 = "/Bookings/GetRoomEvents?roomID=" + selectedRoom;
            $.getJSON(URL2, function (data) {
                $('#calendar').fullCalendar('removeEvents');
                $('#calendar').fullCalendar('addEventSource', data);
            });

        });
    </script>
}

