@model BRTF_Booking.Models.User

@{
    ViewData["Title"] = "Edit";
}

<style>
    .btn-primary:hover {
        background-color: #21db21;
        border-color: #1dc41d;
    }
</style>

<h1>Edit User</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <input asp-for="StudentID" data-toggle="tooltip" title="The Students ID" placeholder="Student ID" class="form-control" />
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" data-toggle="tooltip" title="First name of the student you are adding" placeholder="First Name" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MName" class="control-label"></label>
                <input asp-for="MName" data-toggle="tooltip" title="Middle name of the student you are adding" placeholder="Middle Name" class="form-control" />
                <span asp-validation-for="MName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" data-toggle="tooltip" title="Last name of the student you are adding" placeholder="Last Name" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="DateOfBirth" class="control-label">Date of Birth</label>
                <input asp-for="DateOfBirth" type="date" data-toggle="tooltip" title="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href='@ViewData["returnURL"]'>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
