@model IEnumerable<BRTF_Booking.ViewModels.UserVM>

@{
    ViewBag.Title = "Index";
}

<style>
    .btn-primary:hover {
        background-color: #21db21;
        border-color: #1dc41d;
    }
</style>

<h2>User Role Assignments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRoles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @{
                    foreach (var r in item.UserRoles)
                    {
                        @:  @r <br />
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>