@model IEnumerable<BRTF_Booking.Models.User>
@inject BRTF_Booking.Data.BRTFContext context

@{ 
    ViewData["Title"] = "Home Page";
    string EventString = "";
    if (User.IsInRole("Student"))
    {
        EventString = "<ul>";
        var activeUser = Model.Where(u => u.Email == User.Identity.Name).First();
        foreach (var item in activeUser.Bookings)
        {
            if (item.User.Email == User.Identity.Name)
            {
                if (item.StartDate.Date == item.EndDate.Date)
                {
                    EventString += "<li>" + item.Room.Name + ": " + item.StartDate.ToString("f") + " to " + @item.EndDate.ToString("t") + "</li>" + "<br />";
                }
                else
                {
                    EventString += "<li>" + item.Room.Name + ": " + item.StartDate.ToString("f") + " to " + @item.EndDate.ToString("f") + "</li>" + "<br />";
                }

            }
        }
        EventString += "</ul>";
    }
}
<body>
    @if (User.IsInRole("Admin"))
    {
        <section class="hero">
            <div class="container">
                <div class="hero-inner">
                    <div class="hero-copy">
                        <h1 class="hero-title mt-0">Dashboard</h1>
                        <p class="hero-paragraph">Doors must be open by department faculty during school hours (M-F 8:30am to 5:30pm). Security will only open doors during off hours.</p>
                        <div class="hero-cta">
                            <a asp-controller="Users" asp-action="Index" class="button button-primary" style=" border-width: 1px; border-radius: .25rem; ">Manage Students</a>
                        </div>
                    </div>
                    <div class="hero-figure anime-element">
                        <svg class="placeholder" width="176" height="132" viewBox="0 0 176 132">
                            <rect width="176" height="132" style="fill:transparent;" />
                        </svg>
                        <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                        <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                        @*<div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>*@
                        <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                        <div class="hero-figure-box hero-figure-box-05"></div>
                        <div class="hero-figure-box hero-figure-box-06"></div>
                        <div class="hero-figure-box hero-figure-box-07"></div>
                        <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                        <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                        <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="features section">
            <div class="container">
                <div class="features-inner section-inner has-bottom-divider">
                    <div class="features-wrap">
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <a asp-area="" asp-controller="Bookings" asp-action="Index">
                                        <img src="~/home_img/bookmarks.svg" alt="Feature 01">
                                    </a>
                                </div>
                                <h6 class="feature-title mt-24">Manage Existing Bookings</h6>
                            </div>
                        </div>
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <a asp-area="" asp-controller="Rooms" asp-action="Index">
                                        <img src="~/home_img/home.svg" alt="Feature 03">
                                    </a>
                                </div>
                                <h6 class="feature-title mt-24">Manage Rooms</h6>
                            </div>
                        </div>
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <a asp-area="" asp-controller="ProgramTerms" asp-action="Index">
                                        <img src="~/home_img/calendar-clear.svg" alt="Feature 04">
                                    </a>
                                </div>
                                <h6 class="feature-title mt-24">Manage Program Terms</h6>
                            </div>
                        </div>
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <a asp-area="" asp-controller="Areas" asp-action="Index">
                                        <img src="~/home_img/map.svg" alt="Feature 05">
                                    </a>
                                </div>
                                <h6 class="feature-title mt-24">Manage Areas</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    @if (User.IsInRole("Top-Level Admin"))
    {
        <section class="hero">
            <div class="container">
                <div class="hero-inner">
                    <div class="hero-copy">
                        <h1 class="hero-title mt-0">Dashboard</h1>
                        <p class="hero-paragraph">Doors must be open by department faculty during school hours (M-F 8:30am to 5:30pm). Security will only open doors during off hours.</p>
                        <div class="hero-cta">
                            <a class="button button-primary" asp-controller="Users" asp-action="Index" style=" border-width: 1px; border-radius: .25rem; ">Manage Students</a>
                        </div>
                    </div>
                    <div class="hero-figure anime-element">
                        <svg class="placeholder" width="176" height="132" viewBox="0 0 176 132">
                            <rect width="176" height="132" style="fill:transparent;" />
                        </svg>
                        <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                        <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                        @*<div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>*@
                        <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                        <div class="hero-figure-box hero-figure-box-05"></div>
                        <div class="hero-figure-box hero-figure-box-06"></div>
                        <div class="hero-figure-box hero-figure-box-07"></div>
                        <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                        <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                        <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="features section">
            <div class="container">
                <div class="features-inner section-inner has-bottom-divider">
                    <div class="features-wrap">
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <a asp-area="" asp-controller="Bookings" asp-action="Index">
                                        <img src="~/home_img/bookmarks.svg" alt="Feature 01">
                                    </a>
                                </div>
                                <h6 class="feature-title mt-24">Manage Existing Bookings</h6>
                            </div>
                        </div>
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <a asp-area="" asp-controller="Rooms" asp-action="Index">
                                        <img src="~/home_img/home.svg" alt="Feature 03">
                                    </a>
                                </div>
                                <h6 class="feature-title mt-24">Manage Rooms</h6>
                            </div>
                        </div>
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <a asp-area="" asp-controller="ProgramTerms" asp-action="Index">
                                        <img src="~/home_img/calendar-clear.svg" alt="Feature 04">
                                    </a>
                                </div>
                                <h6 class="feature-title mt-24">Manage Program Terms</h6>
                            </div>
                        </div>
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <a asp-area="" asp-controller="Areas" asp-action="Index">
                                        <img src="~/home_img/map.svg" alt="Feature 05">
                                    </a>
                                </div>
                                <h6 class="feature-title mt-24">Manage Areas</h6>
                            </div>
                        </div>
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <a asp-area="" asp-controller="Admins" asp-action="Index">
                                        <img src="~/home_img/person-circle.svg" alt="Feature 02">
                                    </a>
                                </div>
                                <h6 class="feature-title mt-24">Manage Admins</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
     }

    @if (User.IsInRole("Student"))
    {
        var activeUser = Model.Where(u => u.Email == User.Identity.Name).First();
        <section class="hero">
            <div class="container">
                <div class="hero-inner">
                    <div class="hero-copy">
                        <h1 class="hero-title mt-0">Hello @activeUser.FName!</h1>
                        <p class="hero-paragraph">Doors must be open by department faculty during school hours (M-F 8:30am to 5:30pm). Security will only open doors during off hours.</p>
                        <div class="hero-cta">
                            <a class="button button-primary" asp-controller="Bookings" asp-action="Request" style=" border-width: 1px; border-radius: .25rem; ">Request a Booking</a>
                        </div>
                    </div>
                    <div class="hero-figure anime-element">
                        <svg class="placeholder" width="176" height="132" viewBox="0 0 176 132">
                            <rect width="176" height="132" style="fill:transparent;" />
                        </svg>
                        <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                        <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                        @*<div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>*@
                        <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                        <div class="hero-figure-box hero-figure-box-05"></div>
                        <div class="hero-figure-box hero-figure-box-06"></div>
                        <div class="hero-figure-box hero-figure-box-07"></div>
                        <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                        <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                        <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
                    </div>
                </div>
            </div>
        </section>
        <br />
        @if (activeUser.Bookings.Any())
        {
            <h2>Your upcoming bookings</h2>
            <div id="events">@Html.Raw(EventString)</div>
        }
    }
</body>

<!--; width: fit-content;padding: 60px 190px-->