@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:lightsteelblue;">
    <div class="text-center">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 style="color: black; font-size: 80px; font-weight: 500;" class="display-4">Welcome BRFT users</h1>
        <br />
        <br />
        <br />
        <br />
        <a class="nav-link font-weight-bolder" style="color: black; font-size: 55px" asp-area="" asp-controller="Users" asp-action="Index">Get Started</a>
        <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>  DO NOT DELETE link could be useful for later-->
    </div>
</body>
}

<!--; width: fit-content;padding: 60px 190px-->